.bar-chart-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 2rem;
  border: 2px solid rgba(0, 255, 255, 0.5);
  color: #00ffff;
  backdrop-filter: blur(20px);
  box-shadow: 0 0 15px #00ffff, 0 0 30px #00ffff, 0 0 60px #00ffff;
  background: linear-gradient(135deg, rgba(0, 255, 255, 0.1), rgba(0, 0, 0, 0.8));
  transition: transform 0.3s, box-shadow 0.3s;
}

.bar-chart-container:hover {
  transform: scale(1.05);
  box-shadow: 0 0 20px #00ffff, 0 0 40px #00ffff, 0 0 80px #00ffff;
}

.bar-chart-title {
    margin-top: 10px;
    font-size: 1.5rem; /* Taille du texte */
    font-weight: bold; /* Texte en gras */
    text-align: center; /* Centrer le texte */
    color: #fff; /* Couleur dominante */
    margin-bottom: 10px; /* Espacement en bas */
    letter-spacing: 2px; /* Espacement entre les lettres */
    text-shadow: 0 0 5px #00ffff, 0 0 10px #00ffff, 0 0 20px #00ffff; /* Effet néon */
  }
  