.taskforce-card {
    font-family: 'Chakra Petch', sans-serif;
    padding: 1%;
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 1%;
    border-radius: 1vh;
    cursor:move;
}

.taskforce-card-desc{
    font-size: small;
    text-align: left;
    margin-left: 2%;
}

.taskforce-card-title {
    font-size: large;
    display: flex;
    justify-content: center; 
    position: relative;
    width: 100%;
}

.taskcard-popup-button {
    position: absolute;
    right: 0;
}

.taskforce-card-dropdownstatus {
    text-align: center;
}

.taskforce-card-dropdownstatus .dropdown-status {
    width: 100%;
}


.taskforce-card:hover::after {
    animation: 1s shadowAppear infinite alternate;
  
    animation-timing-function: steps(5, end);
  }
  
  .taskforce-card,
  .taskforce-card::after {
    background: linear-gradient(45deg, transparent 5%, #fff 5%);
    border: 0;
    color: #0f0f0f;
    box-shadow: 6px 0px 0px #00ffff;
    position: relative;
  }
  
  .taskforce-card::after {
    --slice-btn-0: inset(50% 50% 50% 50%);
  
    --slice-btn-1: inset(80% -6px 0 0);
  
    --slice-btn-2: inset(50% -6px 30% 0);
    --slice-btn-3: inset(10% -6px 85% 0);
    --slice-btn-4: inset(40% -6px 43% 0);
    --slice-btn-5: inset(80% -6px 5% 0);
  
    content: "Taskforce TaskForce TaskForce";
    text-align: center; 
    font-size: 1.2rem; 
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(
      45deg,
      transparent 3%,
      #00ffff 3%, /* Cyan néon */
      #00ffff 5%, /* Cyan néon */
      #fff 5%  /* Rose néon */
    );
    text-shadow: -3px -3px 0px #f8f005, 3px 3px 0px #00e6f6;
    clip-path: var(--slice-btn-0);
    transform: translate(-20px, 20px);
    pointer-events: none;
  }

  @keyframes shadowAppear {
    0% {
      clip-path: var(--slice-btn-2);
      transform: translate(10px, 10px);
    }
    10% {
      clip-path: var(--slice-btn-1);
      transform: translate(-10px, -10px);
    }
    20% {
      clip-path: var(--slice-btn-4);
      transform: translate(0, 5);
    }
    30% {
      clip-path: var(--slice-btn-5);
      transform: translate(-2px, 0px);
    }
    40% {
      clip-path: var(--slice-btn-2);
      transform: translate(15px, 5px);
    }
    50% {
      clip-path: var(--slice-btn-1);
      transform: translate(8px, 0px);
    }
    60% {
      clip-path: var(--slice-btn-3);
      transform: translate(-5px, 0px);
    }
  
    70% {
      clip-path: var(--slice-btn-5);
      transform: translate(14px, 8px);
    }
    80% {
      clip-path: var(--slice-btn-3);
      transform: translate(-8px, 3px);
    }
    90% {
      clip-path: var(--slice-btn-1);
      transform: translate(5px, 10px);
    }
    100% {
      clip-path: var(--slice-btn-2);
      transform: translate(0);
    }
  }
  