.stats-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

.stats-charts {
  display: flex;
  flex-direction: row; /* Affiche les graphiques côte à côte */
  justify-content: center; /* Centre les graphiques horizontalement */
  align-items: center; /* Aligne les graphiques verticalement */
  flex-wrap : wrap; /* Permet aux graphiques de passer à la ligne si l'espace est insuffisant */
  gap: 100px; 
}

.stats-doughnut {
    width: 350px;
    height: 350px;
}

.stats-bar {
    width: 350px;
    height: 350px;
}

.stats-line {
    width: 350px;
    height: 350px;
}