html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background: url('./assets/background.jpg') no-repeat !important; 
  background-size: cover !important;
}

.app-container {
  height: 100%;
}

.centered-page {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; 
}
